@use "../utils" as u;

.wrapper {
  main {
    border-radius: 12px;
    background: rgba(2, 146, 155, 0.14);
    padding: u.rem(40) u.rem(30);
    display: flex;
    position: relative;
    z-index: 1;

    // align-items: flex-start;

    .lip {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 280px;
      height: 280px;
    }

    .imgWrapper {
      flex: 1;
      min-height: 100%;
      background-color: white;
      margin-right: u.rem(30);
      padding: u.rem(22);
      // border: 2px solid red;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    aside {
      flex: 1;
      // border: 2px solid red;

      header {
        box-shadow: 0px 100px 80px rgba(27, 74, 88, 0.04),
          0px 59.921px 36.9864px rgba(27, 74, 88, 0.0312355),
          0px 40.7075px 21.1628px rgba(27, 74, 88, 0.028182),
          0px 27.0541px 12.8457px rgba(27, 74, 88, 0.0260864),
          0px 16.5821px 7.74008px rgba(27, 74, 88, 0.0240553),
          0px 8.45789px 4.31018px rgba(27, 74, 88, 0.0214251),
          0px 2.51394px 1.85378px rgba(27, 74, 88, 0.0170396);
        padding: u.rem(26) u.rem(48);
      }

      .counter {
        display: flex;
        padding: u.rem(14) u.rem(12);
        background-color: white;
        border-radius: 12px;
        max-width: u.rem(320);
        justify-content: space-between;

        p {
          display: flex;
          align-items: center;
        }

        button {
          flex: 1;
          max-width: u.rem(80);
          height: u.rem(60);
          display: flex;
          align-items: center;
          justify-content: center;
          background: #d7f1f2;
          border-radius: 12px;
          font-size: u.rem(22);
        }
      }

      footer {
        button {
          background-color: #02929b;
          border-radius: 12px;
          display: flex;
          align-items: center;
          padding: u.rem(16) u.rem(40);

          & > :not(:last-child) {
            margin-right: u.rem(20);
          }

          .heart {
            min-width: u.rem(50);
            min-height: u.rem(50);
            background: rgba(255, 255, 255, 0.14);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            img {
              width: 50%;
            }
          }
        }
      }
    }

    @include u.breakpoint(twoxLarge) {
      padding: u.rem(26) u.rem(24);
      // max-width: ;

      .imgWrapper {
        width: auto;
        flex: 1;
        padding: u.rem(16);
        margin-right: u.rem(20);
      }

      aside {
        width: 40%;
        header {
          padding: u.rem(24) u.rem(40);
        }

        .counter {
          padding: u.rem(12) u.rem(10);
          max-width: u.rem(200);
          height: u.rem(70);

          p {
            display: flex;
            align-items: center;
          }

          button {
            max-width: u.rem(50);
            height: 100%;
            font-size: u.rem(14);
          }
        }

        footer {
          button {
            padding: u.rem(12) u.rem(20);

            & > :not(:last-child) {
              margin-right: u.rem(20);
            }

            .heart {
              min-width: u.rem(46);
              min-height: u.rem(46);

              img {
                width: 50%;
              }
            }
          }
        }
      }
    }

    @include u.breakpoint(xLarge) {
      padding: u.rem(22) u.rem(20);
      // max-width: ;

      .imgWrapper {
        width: auto;
        flex: 1;
        padding: u.rem(16);
        margin-right: u.rem(20);
      }

      aside {
        width: 40%;
        header {
          padding: u.rem(20) u.rem(36);
        }

        .counter {
          padding: u.rem(10) u.rem(8);
          height: u.rem(60);
          max-width: u.rem(170);

          p {
            display: flex;
            align-items: center;
          }

          button {
            max-width: u.rem(40);
            height: 100%;
            font-size: u.rem(12);
          }
        }

        footer {
          button {
            padding: u.rem(12) u.rem(20);

            & > :not(:last-child) {
              margin-right: u.rem(20);
            }

            .heart {
              min-width: u.rem(46);
              min-height: u.rem(46);

              img {
                width: 50%;
              }
            }
          }
        }
      }
    }

    @include u.breakpoint(large) {
      flex-direction: column;
      text-align: center;
      padding: u.rem(24) u.rem(24);
      max-width: 500px;
      margin: 0 auto;

      aside {
        width: 100%;

        header {
          padding: u.rem(18) u.rem(18);
        }

        .counter {
          margin: 0 auto;
          padding: u.rem(12) u.rem(10);
          max-width: u.rem(200);
          width: 100%;

          button {
            flex: 1;
            max-width: u.rem(50);
            height: u.rem(40);
            display: flex;
            align-items: center;
            justify-content: center;
            background: #d7f1f2;
            border-radius: 12px;
            font-size: u.rem(16);
          }
        }

        footer {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }
      }

      .imgWrapper {
        width: 100%;
        margin-right: u.rem(0);
        margin-bottom: u.rem(20);
        padding: u.rem(14);
      }
    }
    @include u.breakpoint(small) {
      aside {
        footer {
          button {
            padding: u.rem(10) u.rem(20);

            & > :not(:last-child) {
              margin-right: u.rem(14);
            }

            .heart {
              min-width: u.rem(36);
              min-height: u.rem(36);
            }
          }
        }
      }
    }
  }

  @include u.breakpoint(xsmall) {
    background: rgba(2, 146, 155, 0.14);
    padding: u.rem(30) 0;
    main {
      border-radius: 0;
      background: transparent;
      padding: 0 0;
    }
  }
}
