@font-face {
  font-family: "Hanson";
  src: url(../../assets/fonts/Hanson/Hanson-Bold.otf);
}
@font-face {
  font-family: "Axiforma";
  src: url(../../assets/fonts/Axiforma/Axiforma.ttf);
}

$font-main: "Axiforma";
$font-secondary: "Hanson";
