@use "../utils" as u;

.wrapper {
  // padding: u.rem(24);
  overflow: hidden;

  footer {
    background: #02929b;
    // border-radius: u.rem(12);
    padding: u.rem(75) 0;

    .lip {
      position: absolute;
      top: -9.5%;
      left: -3%;
      width: 30%;
      height: 100%;
      transform: rotate(-45deg);
      transition: all 0.2s ease;
      opacity: 0.2;
    }

    .logo {
      width: u.rem(612);
    }

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: u.rem(-20);

      & > a {
        margin: u.rem(20);
      }
    }

    .socialIcons {
      display: flex;
      align-items: center;
      justify-content: center;

      & > :not(:last-child) {
        margin-right: u.rem(55);
      }

      .icon {
        $size: u.rem(50);

        font-size: $size;
        width: $size;
        fill: white;
        color: white;
      }
    }

    @include u.breakpoint(twoxLarge) {
      .logo {
        width: u.rem(450);
      }

      .socialIcons {
        & > :not(:last-child) {
          margin-right: u.rem(40);
        }

        .icon {
          $size: u.rem(40);

          font-size: $size;
          width: $size;
        }
      }
    }

    @include u.breakpoint(large) {
      padding: u.rem(50) 0;

      .logo {
        width: u.rem(300);
      }

      .links {
        margin: u.rem(-10);

        & > a {
          margin: u.rem(10);
        }
      }
    }

    @include u.breakpoint(medium) {
      .socialIcons {
        .icon {
          $size: u.rem(30);
          font-size: $size;
          width: $size;
        }

        & > :not(:last-child) {
          margin-right: u.rem(30);
        }
      }
    }

    @include u.breakpoint(small) {
      .socialIcons {
        .icon {
          $size: u.rem(30);
          font-size: $size;
          width: $size;
        }
        & > :not(:last-child) {
          margin-right: u.rem(20);
        }
      }
    }
  }
  @include u.breakpoint(xsmall) {
    padding: u.rem(0);

    footer {
      border-radius: 0px;

      .logo {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}
