.heroWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.banner {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: -20;
  width: 80%;
}

.heroWrapper section {
  //   border: 2px solid red;
  max-width: 40rem;
}

.buttons {
  & > :not(:last-child) {
    margin-right: 1.4rem;
  }
}
