@use "../utils" as u;

.wrapper {
  section {
    display: flex;
    align-items: center;

    main {
      margin-right: u.rem(100);
      flex: 1;
    }
    aside {
      flex: 0.8;
      display: flex;

      img {
        width: 100%;
        aspect-ratio: 1/1;
        background: rgba(2, 146, 155, 0.47);
        border-radius: 12px;
        padding: u.rem(22);
      }
    }

    @include u.breakpoint(twoxLarge) {
      aside {
        flex: 0.6;

        img {
          padding: u.rem(20);
        }
      }
    }

    @include u.breakpoint(large) {
      flex-direction: column;

      main {
        margin-right: 0;
        margin-bottom: u.rem(40);
      }

      aside {
        display: flex;
        max-width: 400px;
      }
    }
  }

  ul {
    padding-left: u.rem(20);
  }
}
