@use "../utils" as u;

.wrapper {
  section {
    display: flex;
    align-items: center;

    aside {
      margin-right: u.rem(100);
    }
    main {
      flex: 1;
      background: rgba(2, 146, 155, 0.14);
      border-radius: u.rem(12);
      padding: u.rem(32) u.rem(80);

      a {
        word-break: break-all;
      }
    }

    @include u.breakpoint(large) {
      flex-direction: column;
      text-align: center;

      aside {
        margin-right: u.rem(0);
        margin-bottom: u.rem(30);
      }

      main {
        padding: u.rem(28) u.rem(40);
      }
    }
  }
}
