@use "../globals/colors" as colors;
@use "../utils" as u;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: u.$font-main;
  color: white;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-size: 100% !important;
  background-color: colors.$dark-blue;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.font-heading {
  font-family: u.$font-secondary;
}

.font-secondary {
  font-family: u.$font-secondary;
}

.opacity-hover-effect:hover {
  opacity: 0.6;
}

.popup-hover-effect {
  transition: all 0.2s ease;
}
.popup-hover-effect:hover {
  transform: translateY(-16%);
}

.border {
  border: 2px solid red;
}

.text-gradient {
  // background: linear-gradient(120deg, red 50%, green 50%);
  background: linear-gradient(140deg, white, #4987ff, #d6a0d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-2 {
  background: linear-gradient(120deg, #ffffff -9.98%, #6a98f0 128.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
